<div class="container py-5 animate__animated animate__fadeIn">
    <div class="text-center">
      <h2 class="mb-4 text-primary">Forgot Password</h2>
      <form (ngSubmit)="onSubmit()" class="bg-white p-4 rounded shadow mx-auto" style="max-width: 400px;">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Enter your registered email" [(ngModel)]="email" name="email" required>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">
          Send OTP
        </button>
  
        <!-- Message Display -->
        <div class="mt-4">
          <p *ngIf="message" class="text-success fw-bold">{{ message }}</p>
        </div>
      </form>
    </div>
  </div>
  