<div class="container my-5 fade-in">
    <h2 class="text-center mb-4">My Loans</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th style="width: 75%;" scope="col">Loan ID</th>
            <th style="width: 25%;" scope="col">View Application</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of loans">
            <td>{{ l.loanId }}</td>
            <td>
              <button 
                class="btn btn-primary btn-sm d-flex align-items-end gap-1"
                (click)="viewApplication(l.loanId)">
                <i class="bi bi-eye-fill"></i> View
              </button>
            </td>
          </tr>
          <tr *ngIf="loans.length === 0">
            <td colspan="2" class="text-center">No loans found 🥲</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4 text-center">
        <a (click)="goBack()" class="btn btn-primary">
          <i class="bi bi-arrow-left-circle"></i> Go back to the dashboard
        </a>
      </div>
  </div>
  